code{background:#F8F8FF; border:black dashed 1px; padding:6px}​


body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: monospace;
}

#container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

#menu{
  border: dashed;
  float: left;
  text-align: justify;
  width: 20%;
  margin-right: 5%;
  background: rgb(232, 198, 121);
}

#content{
  border: dashed;
  float: right;
  text-align: justify;
  float: left;
  padding: 2em;
  width: 50%;
  background: rgb(232, 198, 121);
}

