<h1>Calculator Service</h1>

<ul>
  <li><%= link_to "Usar a calculadora pratica", "calculator/new" %></li>
	<li> Para usar o servico</li>
  <p>
    1.Mandar requisicao para http://ec2-52-37-59-164.us-west-2.compute.amazonaws.com:3000/calculator com o parametro json:
	</p.



    {
          "type" : "",
          "firstValue" : ,
          "secondValue":
    }

	<p>
    "type" - pode receber "sum", "multiply", "subtract" ou "divide" </br>
    "firstValue" - tipos numericos inteiros ou de pontos fllutuantes(floats) </br>
    "secondValue"- tipos numericos inteiros ou de pontos fllutuantes(floats)
  </p> </br>
  <p>
  2. Receber response  com o corpo json:

    {
          "type" : "",
          "firstValue" : ,
          "secondValue": ,
          "result":
    }
  </p> </br>
	<p>
    "type" - pode receber "sum", "multiply", "subtract" ou "divide" </br>
    "firstValue" - tipos numericos inteiros ou de pontos fllutuantes(floats) </br>
    "secondValue"- tipos numericos inteiros ou de pontos fllutuantes(floats) </br>
    "result" - resultado da operação em float
  </p>
</ul>
